<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Phone</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="/style.css" media="screen"/>
</head>
<body>
<div class="container">
    <header>
        <h1>Create Phone</h1>
    </header>
    <hr />
    <form th:method="post" th:action="@{/phone}">
        <p>
            <label>ID:</label>
            <input name="id" />
        </p>
        <p>
            <label>Number:</label>
            <input name="number" />
        </p>
        <p>
            <label>Description:</label>
            <input name="description" />
        </p>
        <p>
            <label>Street:</label>
            <input name="street" />
        </p>
        <p>
            <label>City:</label>
            <input name="city" />
        </p>
        <p>
            <label>State:</label>
            <input name="state" />
        </p>
        <p>
            <label>Zip:</label>
            <input name="zip" />
        </p>
        <p>
            <label>User ID's*:</label>
            <input name="uids" />
        </p>
        <p>
            <label>User First Names*:</label>
            <input name="uFirsts" />
        </p>
        <p>
            <label>User Last Names*:</label>
            <input name="uLasts" />
        </p>
        <p class="button">
            *User data should be separated by a comma (,) and the order should be consistent.
        </p>
        <p>
            <input class="button" th:type="submit" th:value="Create" />
        </p>
    </form>

</div>
</body>
</html>